@import url('https://fonts.googleapis.com/css?family=Roboto|Suez+One&display=swap');
.map
{
    position: relative;
    text-align: center;
	margin-left: 65px;
	height:100%;
	width:100%;
	user-select:none;
}

 body{ 
	background-size: cover;
	height:100%;
	width:100%;
}

#map{
	height: 65%;
	width: 65%;
}

svg
{
    position: absolute;
    top: 0;
    left: 0;
    height: 99.5%;
    width: 100%;
}

path
{
    opacity: 0.35;
    fill: #134DEA;
    cursor: pointer;
    transition: 0.3s;
}

path:hover
{
    opacity: 0.9;
    transition: 0.3s;
}

span{
	color: green;
	float:left;
}

.description{
	display: none;
	position: absolute;
	opacity: 0.9;
	background: #c2c2c2;
	color: #F4690E;
	font-family: Trebuchet MS, Helvetica;
	text-align: center;
	padding: 10px;
	box-sizing: border-box;
	width: 330px;
	height:550px;
	bottom:10px;
}



