@import url('https://fonts.googleapis.com/css?family=Roboto|Suez+One&display=swap');

.header {
  border-bottom: 2px solid #000000;
}

.header-bordera {
  margin:50px auto;
  height:200px;
  width:200px;
  padding: 50px;
}
.text {
  text-align:center; 
  vertical-align: center;
  position: relative;
}
.map
{
    position: relative;
    text-align: center;
	margin-left: 65px;
	height:100%;
	width:100%;
	user-select:none;
}

 body{ 
	background-size: cover;
	height:100%;
	width:100%;
}

#map{
	height: 65%;
	width: 65%;
}

svg
{
    position: absolute;
    top: 0;
    left: 0;
    height: 99.5%;
    width: 100%;
}

path
{
    opacity: 0.35;
    fill: #134DEA;
    cursor: pointer;
    transition: 0.3s;
}

path:hover
{
    opacity: 0.9;
    transition: 0.3s;
}

span{
	color: green;
	float:left;
}

.description{
	display: none;
	position: absolute;
	opacity: 0.9;
	background: #c2c2c2;
	color: #F4690E;
	font-family: Trebuchet MS, Helvetica;
	text-align: center;
	padding: 10px;
	box-sizing: border-box;
	width: 330px;
	height:550px;
	bottom:10px;
}

form {
  position: relative;
  width: 300px;
  margin: 0 auto;
  margin-top: 5%;
}
input {
  width: 100%;
  height: 42px;
  padding-left: 10px;
  border: 2px solid #7BA7AB;
  border-radius: 5px;
  outline: none;
  background: #F9F0DA;
  color: #9E9C9C;
}
button {
  position: absolute; 
  top: 0;
  right: 0px;
  width: 42px;
  height: 42px;
  border: none;
  background: #7BA7AB;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: #F9F0DA;
}

